.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.color__row {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  color: white;
}
